@page
@model Resome.Pages.Rezome.IndexModel
@{
}
<!--grid-layout-->
<section class="section pt-85">
	<div class="container-fluid">
		<div class="row">
			<!--Theme-->
			<div class="col-lg-6 col-md-6">
				<div class="post-card">
					<div class="post-card-image">
						<a href="~/rezome/fa/theme1">
							<img src="~/rezome/theme1.fa.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
			<!--/-->
			<!--Theme-->
			<div class="col-lg-6 col-md-6">
				<div class="post-card">
					<div class="post-card-image">
						<a href="~/rezome/fa/theme2">
							<img src="~/rezome/theme2.fa.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
			<!--/-->
			<!--Theme-->
			<div class="col-lg-6 col-md-6">
				<div class="post-card">
					<div class="post-card-image">
						<a href="~/rezome/en/theme1">
							<img src="~/rezome/theme1.en.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
			<!--/-->
			<!--Theme-->
			<div class="col-lg-6 col-md-6">
				<div class="post-card">
					<div class="post-card-image">
						<a href="~/rezome/en/theme2">
							<img src="~/rezome/theme2.en.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
			<!--/-->
		</div>
	</div>
</section>
<!--/-->